
<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-5"></div>
    <div class="wrapper">
    <div class="info">
      <div style="color:red;" *ngIf='isFail'>{{warnMessage}}</div>
      <h3>變更密碼</h3>
      <label>輸入新密碼：
        <input
          type = "password"
          name = "password"
          [(ngModel)] = "password">
      </label>
      <br>
      <label>確認新密碼：
        <input
          type = "password"
          name = "password_check"
          [(ngModel)] = "passwordInput">
      </label>
      <br>
      <button (click)= checkPassword()>確認</button>
      <button>取消</button>
    </div>
  </div>
</div>
<app-footer></app-footer>

